body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .icon {
    color: #FFD700;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .message {
    font-size: 1.5rem;
    color: #053160;
    margin-bottom: 20px;
  }
  .back-button {
    padding: 10px 20px;
    background-color: #053160;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .back-button:hover {
    background-color: #FFD700;
    color: #053160;
  }